{% extends 'base/base.html' %}
{% block content %}

<div class="container">
    <div class="details">
        <div class="details-img">
            <img src="{{ photo.image.url }}" alt="photo image">
        </div>
        <div class="details-content">
            <h4>Автор: {{ photo.author.first_name }} {{ photo.author.last_name }}</h4>
            <h4>Подпись: {{ photo.signature }}</h4>
            <p>добавлено {{ photo.created_at }}</p>
            <p>В избранных у:</p>
            {% for favorite in photo.favorite_photo.all %}
            <p><a href="{% url 'profile' favorite.user.pk %}">{{ favorite.user.username }}</a></p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}