{% extends 'base/base.html' %}
{% load django_bootstrap5 %}
{% block content %}

<div class="container">
    <div class="details">
        <div class="details-img">
            <img src="{{ photo.image.url }}" alt="photo image">
        </div>
        <div class="details-content">
            <h4>Автор: {{ photo.author.first_name }} {{ photo.author.last_name }}</h4>
            <h4>Подпись: {{ photo.signature }}</h4>
            <p>добавлено {{ photo.created_at }}</p>
            <p>В избранных у:</p>
            {% for favorite in photo.favorite_photo.all %}
            <p><a href="{% url 'profile' favorite.user.pk %}">{{ favorite.user.username }}</a></p>
            {% endfor %}
        </div>
    </div>
</div>
{% if photo.author == request.user %}
<a class="btn btn-primary" href="{% url 'photo_update' photo.pk %}">Редактировать фото</a>
<form method="POST" action="{% url 'photo_delete' photo.pk %}">
    {% csrf_token %}
    <input type="submit" class="btn btn-danger" value="Удалить">
</form>
{% endif %}
{% endblock %}


